<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            All articles belong to AttackMag <a href="https://www.attackmagazine.com/news/" target="_blank">Attack</a>
            <a href="/articles-json" class="grey-text">Article JSON</a>
        </div>
    </div>
</footer>