body {
    background-color: #1C0221;
}

.purp {
    background-color: #7B5E7B;
}

.yello {
    background-color: #E9EB87;
}

.btn {
    background-color: #938274;
}

.gree {
    background-color: #B9F18C;
}