<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Mongodb Scraper</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="https://github.com/drinkcoffee101/news-scraper" target="_blank"></a>Git Repo</li>
        </ul>
    </div>
</nav>